{{- if .IsHome -}}
{{- $person := dict
  "@context" "https://schema.org"
  "@type" "Person"
  "name" "Giannis Chrysogonou"
  "url" "https://gchrysogonou.gr"
  "jobTitle" "Voice-Over Artist, Sound Designer & Radio DJ"
  "sameAs" (slice
    "https://gchrysogonou.gr"
    "https://instagram.com/gchrysogonou"
    "https://www.facebook.com/GiannisChrysogonou"
    "https://twitter.com/gchrysogonou"
    "https://linkedin.com/in/gchrysogonou"
    "https://soundcloud.com/gchrysogonou"
    "https://open.spotify.com/user/gchrysogonou"
  )
-}}
{{ printf `<script type="application/ld+json">%s</script>` ($person | jsonify) | safeHTML }}
{{- else if .IsPage -}}
{{- $description := .Summary | plainify | truncate 200 -}}
{{- if .Description }}{{- $description = .Description -}}{{ end -}}
{{- $image := absURL "/img/author.jpg" -}}
{{- with .Params.image -}}
  {{- $res := $.Resources.GetMatch . -}}
  {{- if $res }}{{- $image = $res.Permalink -}}{{ end -}}
{{- end -}}
{{- $article := dict
  "@context" "https://schema.org"
  "@type" "Article"
  "headline" .Title
  "url" .Permalink
  "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
  "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")
  "description" $description
  "image" $image
  "author" (dict
    "@type" "Person"
    "name" "Giannis Chrysogonou"
    "url" "https://gchrysogonou.gr"
  )
  "publisher" (dict
    "@type" "Person"
    "name" "Giannis Chrysogonou"
    "url" "https://gchrysogonou.gr"
  )
-}}
{{ printf `<script type="application/ld+json">%s</script>` ($article | jsonify) | safeHTML }}
{{- $breadcrumb := dict
  "@context" "https://schema.org"
  "@type" "BreadcrumbList"
  "itemListElement" (slice
    (dict
      "@type" "ListItem"
      "position" 1
      "name" "Home"
      "item" "https://gchrysogonou.gr/"
    )
    (dict
      "@type" "ListItem"
      "position" 2
      "name" (.Section | title)
      "item" (printf "https://gchrysogonou.gr/%s/" .Section)
    )
    (dict
      "@type" "ListItem"
      "position" 3
      "name" .Title
      "item" .Permalink
    )
  )
-}}
{{ printf `<script type="application/ld+json">%s</script>` ($breadcrumb | jsonify) | safeHTML }}
{{- end -}}
